*{
    padding: 0;
    margin: 0;
  }
.container {
    max-width: 1224px;
    width: 90%;
    margin: 0 auto;
  }

.map{
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}



.cards{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.card{
    background-color: hsl(180, 42%, 91%);
    text-align: center;
    margin:10px;
    height: 15vh;
    width: 20vh;
    padding-top: 30px;
}

@media(max-width:700px){
    .selection{
        width: 50%;
    }
}